<div class="page-title">
    <div class="title">
        <div>{{i18n.companyEmployees}} {{companyName}}</div>
        <a href="{{url}}" class="link-back">{{i18n.back}}</a>
    </div>
</div>
<div class="page-section">
    <div class="col col-stretch" data-region="grid"></div>
</div>

