<div class="page-title">
    <div class="title">
		{{i18n.priceLists}}
        <div class="actions">
            <a href="/pricelists/create" data-toggle="tooltip" data-placement="top" title="{{i18n.createPriceList}}">
                <span class="fa fa-plus green"></span>
            </a>
        </div>
    </div>
    <a href="/page/company/" class="link-back">{{i18n.main}}</a>
</div>
<div class="page-section">
    <div class="col col-stretch" data-region="grid"></div>
</div>
