<!doctype>
<html>
<head></head>
<body>
<h2 class="header">RetailTracker</h2>

<p>Для подтверждения регистрации перейдите по ссылке: http://localhost:3000/page/account/register/{{link}}</p>
</body>
</html>
