<!doctype>
<html>
<head></head>
<body>
<header>RetailTracker</header>
<div class="wrapper">
    <h1>Здавствуйте, {{firstName}}</h1>

    <div>Для подтверждения регистрации перейдите по ссылке: {{generatedLink}}</div>
</div>
</body>
</html>
