@import "variables";

.no-scroll {
  overflow: hidden;
}

label {
  color: #777;
}

.registration-link {
  color: #eee;
  padding: 0px;
}

form {
  .form-horizontal;
  margin-bottom: 0;

  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}

a {
  color: steelblue;

  &.selected {
    font-weight: 700;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.color-label {
  color: @labelColor;
}

.select2-container .select2-choice {
  height: 32px !important;
  line-height: 32px !important;
}

.select2-container .select2-choice .select2-arrow b {
  background-position: 0 4px !important;
}

.help-block {
  margin: 0 !important;
  line-height: 200%;
}

.alert {
  padding: 10px !important;
  margin-bottom: 15px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus,
.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent !important;
  text-shadow: 0 0 10px rgba(255,255,255,0.75);
  transition: all .1s linear;
}

.btn-group>.btn+.dropdown-toggle {
  height: 34px;
}
