@import "variables";

* {
  text-rendering: optimizeLegibility;
}

.no-scroll {
  overflow: hidden;
}

label {
  color: #777;
}

form {
  margin-bottom: 0;
}

a {
  color: #555;

  &.selected {
    font-weight: 700;
  }
}

fieldset {
  margin-bottom: 40px;
}

.color-label {
  color: @labelColor;
}

.select2-container .select2-choice {
  height: 32px !important;
  line-height: 32px !important;
}

.select2-container .select2-choice .select2-arrow b {
  background-position: 0 4px !important;
}

.btn .caret {
  margin: 8px 0;
}

.alert {
  padding: 10px !important;
  margin-bottom: 15px;
}