@import "./variables";

.app {
  .page-title {
    margin-bottom: 20px;
    .link-back {
      &:before {
        content: '\2190\0020';
      }
      color: #4183c4;
    }
  }
  &.company,
  &.brand {
    .navigation > * {
      background-color: @navBackgroundColor;
      border-bottom: 1px solid @borderColor;
      padding: 15px 0;
      .logo {
        font-size: 18px;
      }
      .menu {
        margin: 2px 0 0 0;
      }
    }
    .content > * {
      padding-bottom: 150px;
    }
  }
}