@import "./bootstrap/mixins";

.page-nav {
  .clearfix;

  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 30px;
  background-color: #333;
  border-bottom: 1px solid #fff;
}