.grid {
  input {
    border-radius: 0;
    box-shadow: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 0;

    .empty td {
      text-align: center;
      color: #888;
      padding: 20px;
      text-shadow: 1px 1px 0 #fff;
    }

    tbody {
      tr {
        &:first-child {
          &.selected {
            td {
              background-color: #eee;
            }
          }
        }
        &.selected {
          td {
            background-color: #eee;
          }
        }

        &:first-child {
          td {
            border-top: none !important
          }
        }

        td {
          border-top: 1px solid #f0f0f0;
        }
      }
    }

    tr {

      &:first-child.invalid,
      &.invalid {
        td {
          border-top: 2px solid #eea236 !important;
          background-color: #feb;
        }
      }

      &.validation {
        ul {
          padding: 0 15px;
          margin: 0 !important;

          * {
            font-size: 13px;
            color: #888;
          }
        }
        td {
          border-top: none !important;
          border-bottom: 2px solid #eea236;
          background-color: #feb;
        }
      }
    }

    td, th {
      padding: 10px;

      &.increment {
        width: 1px !important;
        background-color: #ddd;
      }

      &.numeric {
        text-align: right;

        input {
          text-align: right;

          &[readonly] {
            background-color: #fff;
          }
        }
      }

      &.action {
        width: 90px !important;

        > * {
          width: 100%;
        }
      }

      button {
        .fa {
          font-size: 20px;
        }
      }
    }
  }
}