@import "../globals/bootstrap/mixins";

.forgot,
.login {
  .box-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  .border-top-radius(2px);
  .border-bottom-radius(2px);
  width: 350px;
  margin: 5% auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #aaa;

  .logo {
    .border-top-radius(30px);
    .border-bottom-radius(30px);
    border: 30px solid #f1f1f1;
    width: 40px;
    height: 40px;
    margin: 0 auto 15px;
  }

  .generic-error {
    text-align: center;
    color: #a94442;
    padding-bottom:  15px;
  }

  button {
    margin: 0 auto;
    display: block;
  }

}
