@import "../globals/variables";

.company {
  .tt-dropdown-menu {
    box-shadow: @boxShadow;
    background-color: #fff;
    border: 1px solid #eee;
    border-top: none;
    .tt-suggestions {
      .tt-suggestion {
        padding: 5px 145px 5px 5px;
        .avatar {
          width: 32px;
          height: 32px;
          border-radius: 2px;
        }
      }
    }
    .tt-cursor {
      background-color: #f5f5f5;
    }
  }
  .tt-hint {
    background-color: #fff;
    color: #aaa;
  }
}
