<div class="row page-title">
    <div class="col-md-6">
        <h3>{{i18n.dashboard}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>Компании</legend>
            <a href="/company/create" data-url-catch>
                <span class="fa fa-plus"></span> {{i18n.newCompany}}
            </a>

            <div data-region="companies"></div>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset>
            <legend>Последние действия</legend>
            <div data-region="activities"></div>
        </fieldset>
    </div>
</div>
