<div class="page-title">
    <div class="title">{{i18n.dashboard}}</div>
</div>
<div class="content-block">
    <fieldset class="col col-half">
        <legend>{{i18n.companies}}</legend>
        <div data-region="companies"></div>
    </fieldset>
    <fieldset class="col col-half">
        <legend>{{i18n.activity}}</legend>
        <div data-region="activities"></div>
    </fieldset>
</div>
