<div class="container">
    <div class="row">
        <nav class="col-md-12 clearfix">
            <div class="logo">
                <a href="/"><h4>RetailTracker</h4></a>
            </div>
            <ul class="dropdown">
                <li class="dropdown navbar-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span data-id="userName"></span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/settings/profile">{{i18n.settings}}</a></li>
                        <li><a href="#" data-click="logout">{{i18n.exit}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>