<div class="container">
    <div class="row">
        <nav class="col-md-12 clearfix">
            <div class="pull-left logo">
                <a href="/" class="">RetailTracker</a>
            </div>
            <ul class="menu pull-right">
                <li class="dropdown navbar-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>{{owner.firstName}}</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/settings/profile">{{i18n.settings}}</a></li>
                        <li><a href="#" data-click="logout">{{i18n.exit}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>