<nav class="page-nav">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">RetailTracker</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                НСИ <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/uom">Единицы измерения</a>
                </li>
                <li>
                    <a href="/currency">Валюты</a>
                </li>
                <li>
                    <a href="/productTemplates">Номенклатура</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown navbar-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span data-hook="firstNameLabel"></span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/settings/profile">{{i18n.settings}}</a></li>
                <li><a href="#" data-action="logout">{{i18n.exit}}</a></li>
            </ul>
        </li>
    </ul>
</nav>
