<nav class="page-nav">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">RetailTracker</a>
    </div>
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown navbar-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span data-id="firstNameLabel"></span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/settings/profile">{{i18n.settings}}</a></li>
                <li><a href="#" data-click="logout">{{i18n.exit}}</a></li>
            </ul>
        </li>
    </ul>
</nav>
