<div class="pull-left">
    <h4>{{i18n.retailTracker}}</h4>
</div>
<div class="pull-right">
    {{# if isNotSignUp }}
        <a href="/page/account/register" class="btn btn-success">{{i18n.signUp}}</a>
    {{else}}
        <a href="/page/account/login" class="btn btn-success">{{i18n.signIn}}</a>
    {{/if}}
</div>
