<div class="page-block">
    <header>Подтверждение регистрации</header>
    <section>
        <div class="warning" data-validation="generic" data-hide></div>
        <form>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" data-value="model.password"
                       class="form-control" placeholder="Введите пароль" title="Введите пароль" autofocus/>
                <span class="help-block" data-validation="password" data-hide></span>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Подтвердите пароль</label>
                <input type="password" id="confirmPassword" name="confirmPassword" data-value="model.confirmPassword"
                       class="form-control" placeholder="Подтвердите пароль" title="Подтвердите пароль"/>
                <span class="help-block" data-validation="confirmPassword" data-hide></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success center-block">Готово</button>
            </div>
        </form>
    </section>
</div>

