<div class="page page-block">
    <header>Регистрация завершена</header>
    <section>
        <h4>Поздравляем!</h4>

        <p>Вы подтвердили вашу регистрацию, теперь ваша учетная запись активирована. Для в хода в систему перейдите по
            <a href="/page/account/login">этой ссылке</a></p>
    </section>
</div>
