<div class="page page-block">
    <header>Регистрация</header>
    <section>
        <h4>Поздравляем!</h4>

        <p>Ваша учетная запись <strong>уже</strong> зарегистрирована. На вашу почту было выслано письмо о подтверждение
            регистрации.</p>
    </section>
</div>
