<form autocomplete="off" class="form-horizontal container" data-submit="create">
    <div class="row">
        <div class="col-md-12">
            <h3>{{i18n.newCompany}}</h3>
            <a href="/" data-url-catch>{{i18n.dashboard}}</a>
        </div>
    </div>
    {{> app/brand/views/company/form }}
    <div class="row">
        <div class="col-md-12">
            <div class="form-control-static">
                <button type="submit" class="btn btn-primary">{{i18n.create}}</button>
                <button type="button" class="btn btn-link" data-click="cancel">{{i18n.cancel}}</button>
            </div>
        </div>
    </div>
</form>