<div class="page-title">
    <div class="title">{{i18n.companyEmployees}}</div>
    <a href="/companies" class="link-back">{{i18n.companies}}</a>
</div>
<div class="page-section">
    <div class="col col-stretch" data-region="grid"></div>
</div>

