<div class="page-title">
    <div class="title">{{companyName}} / {{i18n.companyEmployees}}</div>
    <a href="/company/{{id}}/edit" class="link-back">{{i18n.back}}</a>
</div>
<div class="page-section">
    <div class="col col-stretch" data-region="grid"></div>
</div>

