{{#if isOwn}}
	<span class="fa fa-lock fa-lg"></span>
{{else}}
    <span class="fa fa-share-alt fa-lg"></span>
{{/if}}
<a href="/company/{{id}}" class="title" title="{{i18n.goToCompany}}" data-click="openCompany">{{name}}</a>
