<div class="page-title">
    <div class="title">
		{{i18n.myCompanies}}
        <div class="actions">
            <a href="/company/create" data-toggle="tooltip" data-placement="top" title="{{i18n.create}}">
                <span class="fa fa-plus green"></span>
            </a>
        </div>
    </div>
</div>
<div class="page-section">
    <div class="col col-stretch" data-region="grid"></div>
</div>

