<div class="page-title">
    <div class="title">{{i18n.companies}}</div>
</div>
<div class="page-actions">
	<a href="/company/create" class="btn btn-success">
		<span class="fa fa-edit"></span> {{i18n.create}}
	</a>
</div>
<div class="page-section">
    <div class="col col-stretch" data-region="grid"></div>
</div>

