<div class="tabs">
    <ul>
        <li><a href="#" data-tab="all" data-click="openList">{{i18n.all}}</a></li>
        <li><a href="#" data-tab="own" data-click="openList">{{i18n.own}}</a></li>
        <li><a href="#" data-tab="shared" data-click="openList">{{i18n.shared}}</a></li>
    </ul>
</div>
<div data-region="list"></div>
