<nav class="page-nav">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Максим <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Настройки</a></li>
                <li><a href="#" data-action="logout">Выйти</a></li>
            </ul>
        </li>
    </ul>
</nav>