<div class="page page-blank">
    <div class="menu">
        <ul>
            <li><a href="/page/settings/user">Учетная запись</a></li>
            <li><a href="/page/settings/password">Смена пароля</a></li>
        </ul>
    </div>
    <div class="blank">
        <div class="page-title">Добро пожаловать</div>
        <div class="content">
            Для начала работы вам необходимо проверить ваши настройки.
        </div>
    </div>
</div>
