<div class="box">
    <div class="header">{{title}}</div>
    <div class="content" data-region="content"></div>
    <div class="footer" data-region="footer" data-id="footer"></div>
</div>
<div class="box-bg"></div>