<div class="container forgot">
    <div class="row">
        <div class="logo"></div>
        <div class="generic-error" data-validation="generic"></div>
        <div class="col-xs-12">
            <form autocomplete="off">
                <div class="form-group">
                    <input type="email" id="login" name="login" data-value="model.login" class="form-control"
                           placeholder="Почтовый адрес" title="Почтовый адрес" autofocus/>
                </div>
                <button type="submit" class="btn btn-success">Отправить</button>
            </form>
        </div>
    </div>
</div>
