<div class="page-block">
    <header>Забыл пароль</header>
    <section>
        <h4>Письмо отправлено!</h4>

        <p>Пожалуйста проверьте вашу почту. Вам было выслано письмо с сылкой для смены пароля.</p>
    </section>
</div>
