<div class="page-block">
    <header>Регистрация</header>
    <section>
        <div class="warning" data-validation="generic" data-hide></div>
        <form>
            <div class="form-group">
                <label for="firstName">Имя</label>
                <input type="text" id="firstName" name="firstName" data-value="model.firstName" class="form-control"
                       autofocus title="Имя пользователя" placeholder="Как к вам обращаться?"/>

                <div class="help-block" data-validation="firstName"></div>
            </div>
            <div class="form-group">
                <label for="email">Почтовый адресс</label>
                <input type="email" id="email" name="email" data-value="model.email"
                       class="form-control" title="Почтовый адрес" placeholder="Укажите ваш email"/>

                <div class="help-block" data-validation="email"></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success center-block" data-id="register">Зарегистрировать</button>
            </div>
        </form>
    </section>
</div>
