<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="text-center red" data-validation="generic"></div>
                <div class="form-group">
                    <label for="firstName">Имя</label>
                    <input type="text" id="firstName" name="firstName" data-value="model.firstName" class="form-control"
                           autofocus/>
                </div>
                <div class="form-group">
                    <label for="email">Почтовый адресс</label>
                    <input type="email" id="email" name="email" data-value="model.email"
                           class="form-control"/>
                </div>
                <button type="submit" class="btn btn-success" data-id="register">Готово</button>
            </form>
        </div>
    </div>
</div>
