<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Ваша учетная запись зарегистрирована.</h2>

            <p>
                Перейдите на вашу почту и подтвердите регистрацию.
            </p>
        </div>
    </div>
</div>
