<div class="page page-block">
    <header>{{i18n.inviteConfirmation}}</header>
    <section>
        <h4>{{i18n.congratulations}}!</h4>

        <p>
            Теперь вы стали сотрудником компании <strong>{{company.name}}</strong>.
        </p>

        <p>
            <a href="/login" style="color:#428bca !important">Вход</a>
        </p>
    </section>
</div>
