<div class="page page-blank">
    <nav class="menu">
        <ul>
            <li><a href="/page/settings/profile">Учетная запись</a></li>
            <li><a href="/page/settings/security">Безопасность</a></li>
        </ul>
    </nav>
    <div data-id="content"></div>
</div>
