<div class="page-title">Настройки профиля</div>
<div class="content">
    <div class="warning" data-validation="generic" data-hide></div>
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend>Персональные данные</legend>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">Имя</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="firstName" name="firstName" data-value="model.firstName" autofocus>
                    <div class="help-block" data-validation="firstName"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-3 control-label">Фамилия</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="lastName" name="lastName" data-value="model.lastName">
                    <div class="help-block" data-validation="lastName"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-3">
                    <button type="submit" class="btn btn-success" data-action="save">Сохранить</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>