<div class="row page-title">
    <div class="col-md-6">
        <h3>{{i18n.dashboard}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <ul class="pull-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    НСИ <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/uom">Единицы измерения</a>
                    </li>
                    <li>
                        <a href="/currency">Валюты</a>
                    </li>
                    <li>
                        <a href="/nomenclature">Номенклатура</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <fieldset class="col-md-6">
        <legend>{{i18n.salesForToday}}</legend>
    </fieldset>
    <fieldset class="col-md-6">
        <legend>{{i18n.keyIndicators}}</legend>
    </fieldset>
</div>
<div class="row">
    <fieldset class="col-md-12">
        <legend>{{i18n.salesForMonth}}</legend>
    </fieldset>
</div>