<div class="side side-content">
    <div class="title">
        <h3>{{i18n.dashboard}}</h3>
    </div>
    <div class="content">
        <div class="line">
            <fieldset class="half">
                <legend>{{i18n.salesForToday}}</legend>
            </fieldset>
            <fieldset class="half">
                <legend>{{i18n.keyIndicators}}</legend>
            </fieldset>
        </div>
        <div class="line">
            <fieldset class="half-stretch">
                <legend>{{i18n.salesForMonth}}</legend>
            </fieldset>
        </div>
    </div>
</div>
