<div class="page-title">
    <div class="title">{{i18n.dashboard}}</div>
</div>
<div class="page-section">
    <fieldset class="col col-half">
        <legend>{{i18n.salesForToday}}</legend>
    </fieldset>
    <fieldset class="col col-half">
        <legend>{{i18n.keyIndicators}}</legend>
    </fieldset>
</div>
<div class="page-section">
    <fieldset class="col col-stretch">
        <legend>{{i18n.salesForMonth}}</legend>
    </fieldset>
</div>