<ul>
    <li>
        <a href="/uom">Единицы измерения</a>
    </li>
    <li>
        <a href="/currency">Валюты</a>
    </li>
    <li>
        <a href="/nomenclature">Номенклатура</a>
    </li>
    <li>
        <a href="/groups">Группы товаров</a>
    </li>
    <li>
        <a href="/warehouses">Складской учет</a>
    </li>
</ul>