<ul>
    <li>
        <a href="/uom" data-catch-url="uom">Единицы измерения</a>
    </li>
    <li>
        <a href="/currency" data-catch-url="currency">Валюты</a>
    </li>
    <li>
        <a href="/nomenclature" data-catch-url="nomenclature.*">Номенклатура</a>
    </li>
    <li>
        <a href="/groups" data-catch-url="groups">Группы товаров</a>
    </li>
    <li>
        <a href="/warehouses" data-catch-url="warehouses">Складской учет</a>
    </li>
</ul>