<div class="container">
    <div class="row">
        <nav class="col-md-12 clearfix">
            <div class="pull-left logo">
                <a href="/page/brand" data-enable-href="true">RetailTracker</a> / <strong><a href="/page/company/">{{company.name}}</a></strong>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        НСИ <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/uom">Единицы измерения</a>
                        </li>
                        <li>
                            <a href="/currency">Валюты</a>
                        </li>
                        <li>
                            <a href="/productTemplates">Номенклатура</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="menu pull-right">
                <li class="dropdown navbar-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>{{owner.firstName}}</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/settings/profile">{{i18n.settings}}</a></li>
                        <li><a href="#" data-click="logout">{{i18n.exit}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
