<div class="page-title">
    <div class="title">{{i18n.dashboard}}</div>
</div>
<div class="page-section">
    <div class="col col-stretch">
        <div class="grid grid-cell-center">
            <table>
                <thead>
                <tr>
                    <th>{{!empty}}</th>
					{{#each roles}}
                        <th>{{this}}</th>
					{{/each}}
                </tr>
                </thead>
                <tbody>
				{{#each properties}}
                    <tr>
                        <td>{{this.permissionItem}}</td>
						{{#each this.values}}
                            <td>
                                <label>
                                    <input type="checkbox" {{#if this}}checked="true"{{/if}} readonly/>
                                </label>
                            </td>
						{{/each}}
                    </tr>
				{{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
