<div class="page-title">
    <div class="title">{{i18n.counterparties}}</div>
    <a href="/page/company/" class="link-back">{{i18n.back}}</a>
</div>
<div class="actions">
    <a href="/counterparty/create" class="btn btn-default">
        <span class="fa fa-plus"></span> {{i18n.newCoĞ³nterparty}}
    </a>
</div>
<div class="page-section">
    <div class="col col-stretch" data-region="grid"></div>
</div>
