<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1>Hello!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="username" name="username" data-value="model:email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" data-value="model:password"
                           class="form-control"/>
                </div>
                <button type="submit" class="btn btn-success" data-id="login">Submit</button>
            </form>
        </div>
    </div>
</div>