<!doctype>
<html>
<head></head>
<body>
<h2 class="header">RetailRegister</h2>
<h4>Вы были приглашены в компанию!</h4>
<p>Для входа просто перейдите по ссылке : http://localhost:3000/page/account/invite/{{link}}</p>
</body>
</html>
