<div class="logo">
    <a href="/page/pos/{{id}}">{{pos.name}}</a>
</div>
<nav class="navigation pull-right">
    <ul>
        <li class="pull-right">
            <a href="#" class="dropdown-toggle" style="padding: 15px 0">
                <span data-id="userName"></span><img src="{{avatarSrc}}" class="profile-image"/>
            </a>
        </li>
    </ul>
</nav>

