<div class="row">
    <div class="col-md-12 page-title">
        <h3>{{i18n.settings}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-8" data-region="content"></div>
    <div class="col-md-4">
        <nav class="menu">
            <ul>
                <li>
                    <a href="/settings/profile" data-catch-url>{{i18n.account}}</a>
                </li>
                <li>
                    <a href="/settings/security" data-catch-url>{{i18n.security}}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
