<div class="page page-blank">
    <nav class="menu">
        <ul>
            <li>
                <a href="/settings/profile" data-catch-url>{{i18n.account}}</a>
            </li>
            <li>
                <a href="/settings/security" data-catch-url>{{i18n.security}}</a>
            </li>
        </ul>
    </nav>
    <div data-region="content"></div>
</div>
