<div class="page-title">
    <div class="title">{{i18n.settings}}</div>
    <a href="/" class="link-back" data-url-catch>{{i18n.back}}</a>
</div>
<div class="page-section">
    <div class="col col-2thirds" data-region="content"></div>
    <div class="col col-third">
        <nav class="menu">
            <ul>
                <li>
                    <a href="/settings/profile" data-catch-url>{{i18n.account}}</a>
                </li>
                <li>
                    <a href="/settings/security" data-catch-url>{{i18n.security}}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>