<div class="alert alert-warning hidden" data-validate="generic" data-bind></div>
<form data-submit="save">
    <div class="form-group">
        <label for="firstName" class="required">{{i18n.firstName}}</label>

        <div class="group">
            <input type="text" class="form-control half" id="firstName" name="firstName" data-focus data-bind>

            <div class="help-block" data-validate="firstName" data-bind></div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">{{i18n.lastName}}</label>

        <div class="group">
            <input type="text" class="form-control half" id="lastName" name="lastName" data-bind>
        </div>
    </div>
    <div class="form-group no-bottom border">
        <button type="submit" class="btn btn-primary" data-auto-disable>{{i18n.save}}</button>
    </div>
</form>
