<div class="alert alert-warning hidden" data-validate="generic" data-bind ></div>
<form class="form-horizontal" data-submit="save">
    <div class="form-group">
        <label for="oldPassword" class="required">{{i18n.currentPassword}}</label>

        <div class="group">
            <input type="password" class="form-control half" id="oldPassword" name="oldPassword" data-bind data-focus/>

            <div class="help-block" data-validate="oldPassword" data-bind></div>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="required">{{i18n.newPassword}}</label>

        <div class="group">
            <input type="password" class="form-control half" id="password" name="password" data-bind>

            <div class="help-block" data-validate="password" data-bind></div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword" class="required">{{i18n.confirmPassword}}</label>

        <div class="group">
            <input type="password" class="form-control half" id="confirmPassword" name="confirmPassword" data-bind>

            <div class="help-block" data-validate="confirmPassword" data-bind></div>
        </div>
    </div>
    <div class="form-group no-bottom border">
        <button type="submit" class="btn btn-primary" data-auto-disable>{{i18n.change}}</button>
    </div>
</form>
