<div class="box">
    <div class="box-title">{{i18n.passwordChange}}</div>
    <h4>{{i18n.congratulations}}!</h4>
    <p>{{i18n.yourPasswordWasChanged}}</p>
    <div class="submit-group">
        <a href="/login" class="btn btn-default btn-lg" data-focus>{{i18n.enter}}</a>
    </div>
</div>
