<div class="page page-block">
    <header>Забыл пароль</header>
    <section>
        <div class="warning" data-validation="generic" data-hide></div>
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" data-value="model.email" class="form-control"
                       placeholder="Почтовый адрес" title="Почтовый адрес" autofocus/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success center-block">Отправить</button>
            </div>
        </form>
    </section>
    <footer class="text-center">
        <a href="/page/account/login">Я вспомнил пароль!</a>
    </footer>
</div>
