<div class="page page-block">
    <header>{{i18n.forgotPassword}}</header>
    <section>
        <h4>{{i18n.emailHasBeenSent}}!</h4>
        <p>{{i18n.pleaseVerifyYourEmail}}</p>
    </section>
</div>
