<div class="page page-block">
    <header>{{i18n.passwordChange}}</header>
    <section>
        <h4>{{i18n.congratulations}}!</h4>

        <p>{{i18n.yourPasswordWasChanged}}</p>
    </section>
    <footer class="text-center">
        <a href="/login">{{i18n.enter}}</a>
    </footer>
</div>
