<div class="page-block">
    <header>Смена пароля</header>
    <section>
        <h4>Поздравляем!</h4>

        <p>Ваш пароль был успешно изменен.</p>
    </section>
    <footer class="text-center">
        <a href="/page/account/login">Войти</a>
    </footer>
</div>
