<div data-region="header" class="header"></div>
<div class="content-wrapper">
    <div class="content" data-region="container"></div>
    <div class="navigation" data-region="navigation"></div>
</div>
<div data-region="popup"></div>