<div class="header" data-region="header"></div>
<div class="content-wrapper">
    <div class="content" data-region="container"></div>
    <div class="navigation" data-region="navigation"></div>
</div>
<div class="modal" data-region="popup"></div>