<div class="header" data-region="header"></div>
<div class="content-wrapper">
    <div class="main-width">
        <div class="content" data-region="container"></div>
        <div class="navigation" data-region="navigation"></div>
    </div>
</div>
<div class="popup" data-region="popup"></div>
<div class="footer" data-region="footer"></div>