<div class="item">
    <h5 class="title">
        <a href="/nomenclature/{{id}}" style="color:#4183c4">{{name}}</a>
    </h5>
    <ul class="sub-items">
        {{#each attributes}}
            <li>{{key}}: <strong>{{value}}</strong></li>
        {{/each}}
    </ul>
</div>
