<div class="page-title">
    <div class="title">{{i18n.nomenclatureList}}</div>
    <a href="/page/company/" class="link-back">{{i18n.main}}</a>
</div>
<div class="page-section">
    <div class="col col-stretch">
        <a href="/nomenclature/create" class="btn btn-default">{{i18n.createNomenclature}}</a>
    </div>
</div>
<div class="page-section">
    <div class="col col-stretch">
        <ul data-id="listContainer" class="list">
            {{#if isEmptyCollection}}
                <li class="text-center">{{i18n.nomenclatureEmptyListText}}</li>
            {{/if}}
        </ul>
    </div>
</div>