<div class="page-title">
    <div class="title">{{i18n.nomenclatureList}}</div>
    <a href="/page/company/" class="link-back">{{i18n.main}}</a>
</div>
<div class="actions">
    <a href="/nomenclature/create" class="btn btn-default">
        <span class="fa fa-plus"></span> {{i18n.createNomenclature}}
    </a>
</div>
<div class="page-section">
    <div class="col col-stretch" data-region="grid"></div>
</div>
