<div class="container">
    <div class="row">
        <div class="col-md-12 page-title">
            <h3>{{name}}</h3>
            <a href="/" class="link-back" data-url-catch>{{i18n.dashboard}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-control-static">
            <a href="/nomenclature/{{id}}/edit" class="btn btn-primary" data-auto-disable>{{i18n.edit}}</a>
        </div>
    </div>
</div>