<div class="box">
    <div class="box-title">{{i18n.registrationCompleted}}</div>
    <div>
        <h4>{{i18n.congratulations}}!</h4>
        <p>Вы успешно подтвердили регистрацию, учетная запись активирована.</p>
        <div class="submit-group">
            <a href="/login" class="btn btn-default btn-lg" data-focus>{{i18n.enter}}</a>
        </div>
    </div>
</div>
