<div class="page page-block">
    <header>{{i18n.registrationCompleted}}</header>
    <section>
        <h4>{{i18n.congratulations}}!</h4>
        <p>Вы успешно подтвердили регистрацию, учетная запись активирована.</p>
        <p><a href="/login" style="color:#428bca !important">Войти</a></p>
    </section>
</div>
