<div class="page page-block">
    <header>{{i18n.registration}}</header>
    <section>
        <h4>{{i18n.congratulations}}!</h4>

        <p>Ваша учетная запись была только что зарегистрирована. На вашу почту было выслано письмо о подтверждение
            регистрации.</p>
    </section>
</div>
