<div class="box">
    <div class="box-title">{{i18n.congratulations}}!</div>
    <p>Ваша учетная запись была только что зарегистрирована.</p>

    <p>На указаный вами электронный адрес было выслано письмо с подтверждением регистрации.</p>
</div>
